@font-face {
    font-family: Moonshot;
    src: url(fonts/Moonshot-Regular.otf);
}
@font-face {
    font-family: Bluesky;
    src: url(fonts/Bluesky.otf);
}
@font-face {
    font-family: Airspace;
    src: url(fonts/AirSpace.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-image: url("img/Pattern-07.png");
    display: flex;
    align-items: center;
}

h1 {
    font-family: Moonshot;
    font-size: 7vw;
    margin-left: 15px;
}

h2 {
    font-family: Bluesky;
    font-size: 4em;
    margin: 0 auto;
    margin-top: 25px;
}

p {
    font-family: Airspace;
    font-size: 6vw;
}

img {
    width: 100%;
    box-shadow: 0 0 4px #000;
}

main {
    height: 80vh;
    margin: auto;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.40),
        rgba(255, 255, 255, 0.40),
        rgba(255, 255, 255, 0.651),
        rgb(254, 254, 255)),
        url("img/Pattern-07.png");
    background-size: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

main p {
    margin-left: 25px;
    letter-spacing: 4px;
    font-family: Airspace;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

#projectLink {
    margin-top: auto;
}

#projectLink div p {
    margin-left: 0;
    font-size: 5vw;
    letter-spacing: 2px;
    color: black;
    margin-top: 15vh;
}

i {
    color: black;
}

main a:hover {
    -webkit-text-fill-color: beige; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
}


h3 {
    font-family: Moonshot;
    font-size: 9vw;
    margin: 15px 0 10px 0;
}

h4 {
    font-family: Moonshot;
    font-size: 6vw;
    margin: 5px 0;
}

article a {
    font-family: monospace;
    font-size: 22px;
}

p:last-child {
    font-size: 25px;
}

article p {
    margin-top: 8px;
}

article, main, fieldset {
   width: 80%;
   margin-bottom: 40px;
}

input, textarea {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 2px #000;
    border: none;
    padding: 5px;
}

input:hover, textarea:hover {
    box-shadow: 0 0 4px #000;
}

.icon {
    width: 50px;
    margin: 15px 0;
}

div {
    display: flex;
    justify-content: space-evenly;
}

fieldset {
    margin: auto;
    border: none;
}

input {
    margin-bottom: 20px; 
    margin-top: 8px;
    height: 30px;
}

label {
    font-size: 1.5em;
    font-family: Airspace;
}

textarea {
    margin-top: 7px;
}

button {
    height: 60px;
    width: 100px;
    margin-top: 5px;
    background-image: url("img/Pattern-07.png");
    background-size: 310px;
    border-radius: 5px;
    border: solid 1px black;
    font-family: Moonshot;
    font-size: 28px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

button:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: beige;
    background-image: none;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 30px 30px;
}

footer i:hover {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: beige;
}


@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4vw;
    }

    main p {
        margin-left: 30px;
    }

    section {
        width: 80%;
        margin: auto;
        flex-direction: row;
    }

    #contact {
        margin-top: 75px;
    }

    h3 {
        font-size: 6vw;
    }

    #projects {
        flex-direction: column;
    }
  }

@media only screen and (min-width: 1024px) {
    h2 {
        font-size: 5vw;
        /* margin-top: 12%; */
        margin-bottom: 100px;
    }

    h3 {
        font-size: 4vw;
        margin: 60px 0;
    }

    h4 {
        font-size: 2vw;
    }

    main p {
        font-size: 3em;
    }

    #projectLink div p {
        font-size: 3em;
    }

    article {
        width: 35vw;
    }



    article p {
        font-size: 3em;
    }

    #contact {
        width: 60%;
    }

    footer {
        width: 60%;
        margin-left: auto; 
        margin-right: auto; 
    }
}
