* {
    /* border: solid 1px black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    /* background-color: lightgray; */
    background-image: url("img/Pattern-07.png");
    display: flex;
    align-items: center;
}


h1 {
    font-family: Moonshot;
    font-size: 7vw;
    margin-left: 15px;
}

h2 {
    font-family: Bluesky;
    font-size: 7vw;
    margin: 0 auto;
}

p {
    font-family: Airspace;
    font-size: 6vw;
}

img {
    width: 100%;
}

main {
    height: 80vh;
    margin: auto;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.40),
        rgba(255, 255, 255, 0.40),
        rgba(255, 255, 255, 0.40),
        rgb(254, 254, 255)),
        url("img/Pattern-07.png");
    background-size: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

main p {
    margin-left: 25px;
    letter-spacing: 4px;
    font-family: Airspace;
}


main a {
    margin: 0 auto;
    font-family: Airspace;
    font-size: 5vw;
    text-decoration: none;
    color: black;
    margin-top: 60%;
}

main a:hover {
    -webkit-text-fill-color: beige; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.arrow {
    margin-left: 11vw;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article, main, fieldset {
   width: 80%;
   margin-bottom: 40px;
}

footer {
    display: block;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

.icon {
    width: 50px;
    margin: 15px 0;
}

div {
    display: flex;
    justify-content: space-evenly;
}

fieldset {
    margin: auto;
}

input {
    margin-bottom: 20px; 
}

label {
    background-color: lightgray;

}


@font-face {
    font-family: Moonshot;
    src: url(fonts/Moonshot-Regular.otf);
}
@font-face {
    font-family: Bluesky;
    src: url(fonts/Bluesky.otf);
}
@font-face {
    font-family: Airspace;
    src: url(fonts/AirSpace.otf);
}


@media only screen and (min-width: 700px) {
    h1 {
        font-size: 4vw;
    }

    section {
        width: 80%;
        margin: auto;
        flex-direction: row;
    }

    article {
        margin: 15px;
    }

    footer {
        margin: 30px 0;
    }
  }